services:
  postgres:
    image: postgres:18
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_PASSWORD: b4nkc4rd5
volumes:
  postgres_data: {}